<div style=" margin-bottom: 10px;display: flex; flex-direction: row; align-content: center; align-items: center">
  <span>Select the part of the image which should be displayed as an thumbnail</span>
  <button style="margin-left: 10px" color="primary" mat-raised-button (click)="close()">Crop image</button>
  {{width + ' - ' + height}}
</div>
<div style="width: 100%; height: 100%" class="cropper" *ngIf="cropperObj">

  <!--<img src="{{croppedImage}}" />-->


  <image-cropper #cropperComponent
                 [canvasRotation]="cropperObj.rotate ? 1 : 0"
                 [imageBase64]="croppedImage"
                 [maintainAspectRatio]="true"
                 [resizeToWidth]="cropperObj.resizeWidth"
                 [resizeToHeight]="cropperObj.resizeHeight"
                 (cropperReady)="foo($event)"
                 (imageLoaded)="imageLoaded()"
                 [cropperStaticWidth]="cropperObj.staticWidth"
                 [cropperStaticHeight]="cropperObj.staticHeight"
                 (imageCropped)="imageCropped($event)">
  </image-cropper>


  <!--<image-cropper #cropperComponent
                 [canvasRotation]="isMobile ? 1 : 0"
                 [imageBase64]="croppedImage"
                 [maintainAspectRatio]="true"
                 [resizeToWidth]="width"
                 [resizeToHeight]="height"
                 (cropperReady)="foo($event)"
                 (imageLoaded)="imageLoaded()"
                 [cropperStaticWidth]="isMobile ? height : width"
                 [cropperStaticHeight]="isMobile ? width : height"
                 (imageCropped)="imageCropped($event)">
  </image-cropper>-->
</div>



